body {
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

#modos button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

#grade {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.bloco {
  display: grid;
  gap: 6px;
}

.linha-grade {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 6px;
}

.celula {
  width: 50px;
  height: 50px;
  border: 2px solid #444;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certo {
  background: #2ecc71;
}

.quase {
  background: #f1c40f;
}

.errado {
  background: #555;
}

#teclado {
  margin-top: 20px;
}

#teclado button {
  margin: 3px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
